  <nav>
    <% if (user) { %>
    <a href="/Users">My Page</a>
    <!-- <a href="/workouts/new">Add Workout</a> -->
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </nav>
