<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Workout</title>
  </head>
  <body>
    <h1>New Workout</h1>
  </body>
</html>

<body>
    <h1></h1>
    <form action="/workouts" method="POST">
      <label for="date">Date (XX/XX/XX):</label>
      <input type="text" name="date" id="date" />

      <label for="excercises">Excercises (Select all that apply):</label>
      <select name="exercises" id="exercises" multiple>
        <option value="Push-ups">Push-ups</option>
        <option value="Pull-ups">Pull-ups</option>
        <option value="Running">Running</option>
        <option value="Cycling">Cycling</option>
        <option value="Swimming">Swimming</option>
        <option value="Yoga">Yoga</option>
        <option value="BJJ">Cycling</option>
        <option value="Basketball">Swimming</option>
        <option value="Cheerleading">Yoga</option>
      </select>
    
      <label for="time">Time (mins):</label>
      <input type="number" name="time" id="time" step="0.1" min="18"/>

      <label for="caloriesBurned">Calories Burned:</label>
      <input type="number" name="caloriesBurned" id="caloriesBurned" step="1" min="18"/>
  
      <label for="drankWater">Did you drink water?</label>
      <input type="checkbox" name="drankWater" id="drankWater" />
  
      <button type="submit">Add Workout</button>
    </form>

    <!-- Will need to move to user landing page -->
    <a href="/workouts/">Back</a>
    <!-- Will need to move to user landing page -->

  </body>
  