<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Workout Tracker App</title>
  </head>
  <body>
    <!-- <h1>Welcome!</h1> -->
    <img
    class="workout-pic1"
    src="https://imgur.com/BSeopbS.png"
    alt="app logo"
  />
  <h1>Create a New Account</h1>
    <a class=sign-in href="/auth/sign-in">Already registered? Login</a>

<!-- Will need to move to user landing page -->
<!-- <a class="workouts-index-link" href="/workouts">
    <div class="index-link-text">Past Workouts</div>
</a>
<a class="add-workout" href="/workouts/new">Add Workout</a> -->
<!-- Will need to move to user landing page -->
  </body>
</html>

