<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Workouts</title>
  </head>
  <body>
  <div class="index-header-div">
    <h1>Welcome!</h1>
    <p>Let's get started</p>
    <a href="/workouts">Past Workouts</a>
    <a href="/workouts/new">Add Workout</a>
    <a href="/auth/sign-out">Log Out</a>
  </div>
</body>
</html>
